* {
    padding: 0;
    margin: 0;
}

.header {
    background-color: #000;
    color: #fff;

    height: 300px;
}

.section {
    background-color: #252525;
    color: #fff;
    height: 300px;
}


.footer {
    background-color: #c0c0c0;
    color: #fff;
    height: 300px;
}



.btnHeader {
    background-color: red;
    padding: 10px 50px;
    padding-top: 1rem;
    padding-top: 1rem;
}