* {
    padding: 0;
    margin: 0;
}

.header {
    background-color: #000;
    color: #fff;
}

.section {
    background-color: #252525;
    color: #fff;
}


.footer {
    background-color: #c0c0c0;
    color: #fff;
}